spring:
  profiles:
    active:
    - dev
---
spring:
  profiles: dev
  application:
    name: mldncloud-config-encrypt                  # 定义微服务名称
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource    # 配置当前要使用的数据源的操作类型
    driver-class-name: org.gjt.mm.mysql.Driver      # 配置MySQL的驱动程序类
    url: jdbc:mysql://localhost:3306/mldn8001           # 数据库连接地址
    password: '{cipher}AQC72s7JE67wUPMzL3fjNHZ9LIC4FIaoh+pc9svBlwqWZR/J2JOJVInhZ2EVO5BH4aT3fqfn8SGauu3USZvW71aiXVMu8sRsDe7gOu1RQeJPyhA6O/lJGbSG056lERATkdFgiiqL8+q0h658m9kA1utdY56FgwKiFR4n833nz1wlYttFE96UEE1Ts5Y2tppLYpBSNlB2XTGpFSud5yT6+54jHVuwhSe49TUX6ooMsG0mcfJ6+PTOIIC0f9CIBidXu+Fpz1Zfk66rV7MmDcEBgJaTrUkJjpplsiP40GrDsf8pqaZ7+IngxTSd6wfzD86Oqs9Nl27Oa/4Fk/RyPVuN+Vq3Vpy1bKpAIa7cKU3PemrIKWbaByYG2Uxgr9JFkaWy5rw='
    username: root                                  # 数据库用户名